/*icon container */
.button-container {
position:absolute;
bottom:0;
right:1;
margin-bottom:5px;
background-color:white;
border-radius:20px;
}

button {
  background:none;
  border:none;
}

.sunrise:hover, .sun:hover, .moon:hover {
  color:#6b6b6b;
  transition:0.3s;
}

/*icons*/
.sunrise {
  color:#f8c953;
}

.sun {
  color:#f9916c;
}

.moon {
  color:#8c63cd;
}

.fa-circle {
  padding:0;
  margin-top:10px;
}

.fa-star {
  color: #e95f54;
}

.fa-quote-left {
  color:powderblue;
}

.fa-quote-right {
  color:powderblue;
}

/* end icons */

body{
  background-color:#eaa94b;
}

a{
  font-style:italic;
  text-decoration:none;
  color:lightcyan;
  padding:1px;
}

a:hover{
  color:papayawhip;
  text-shadow: 1px 1px 4px powderblue;
  transition:.2s;
}

/* browser bar */
.computer-bar {
  width:100%;
  height:30px;
  border-bottom:2px solid powderblue;
  position:absolute;
  background-color:#ee6f22;
}

sidebar-boxes computer-bar {
  background:none;
}

/*middle container */

.container-main{
  width:1000px;
  height:600px;
  margin:50px;
  position:absolute;
}

/*text in front box */

#time {
  font-family: 'Offside', cursive;
  font-size:60px;
  color:white;
  margin-top:30px;
}

#time-of-day {
  font-family: 'Armata', sans-serif;
  font-size:40px;
  color:white;
  margin-left:10px;
  text-shadow: 0px 1px 5px yellow;
}

#main-text {
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
  color:white;
  overflow:hidden;
  display:inline;
}

/* text in sidebar */

/* top */

#activities-title {
  font-family: 'Armata', sans-serif;
  font-size:25px;
  color:white;
  text-transform:uppercase;
  margin-left:10px;
}


/* second */

#foods-title {
  font-family: 'Armata', sans-serif;
  font-size:25px;
  color:white;
  text-transform:uppercase;
  margin-left:10px;
}

/* third */

#thoughts-title {
  font-family: 'Armata', sans-serif;
  font-size:25px;
  color:white;
  text-transform:uppercase;
  margin-left:10px;
}

/* bottom */

.music-title {
  font-family: 'Armata', sans-serif;
  font-size:25px;
  color:white;
  text-transform:uppercase;
  margin-left:10px;
}

/* image in front box */
.smallimage {
  width:300px;
  height:230px;
  float:right;
  position:inline-block;
  overflow:hidden;
}

#smallimage {
  width:200px;
  position:relative;
  margin-top:30px;
}

/* box in the middle BEHIND other box; has image */
.box1{
  width:600px;
  height:400px;
  border:2px solid black;
  position:absolute;
  left:200px;
  top:100px;
}

/* box in middle IN FRONT OF other box */

.box2{
  border:2px solid black;
  position:relative;
  top:0;
  left:0;
  width:600px;
  height:400px;
  background-color:#ed844d;                /* change bg color */
}

/* sidebar thing */
.sidebar {
  border:2px solid black;
  width:30%;
  height:100vh;
  float:right;
  background-color:#f6cb49;
}

.sidebartxt{
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size:18px;
}

#sidebartxt-activities {
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size:18px;
  padding:10px;

}

/* strikethrough - tutorial by https://codepen.io/tsimenis/pen/BKdENX */

span {
  position: relative;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 3.5px;
  background:#ff5269;
  transition: width .6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #ff5269;
  width: 100%;
  transition: width .6s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* end strikethrough */

.sidebartxt.thoughts {
  text-align:center;
  padding:20px;
}

#thoughts {
  margin: auto;
  margin-top:10%;
  max-width:70%;
  max-height:70%;
  object-fit:cover;
  display:block;
}

#sidebartxt-food{
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size:18px;
  text-align:center;
}

.sidebar-boxes, #side-box1, #box2, #box3, #box4 {
  width:95%;
  height: 22%;
  border:2px solid black;
  margin:10px;
  position:relative;
}

/* individual box bg colors */

.sidebar-boxes.one {
  background-color:#f8a046;
}

.sidebar-boxes.two {
  background-color:#f88942;
}

.sidebar-boxes.three {
  background-color:#f46a45;
}

.sidebar-boxes.four {
  background-color:#faa6ca;
}

/* ------------------music player */

.music-container {
  border: 2px dashed red;
  max-width:70%;
  height:100px;
  display:block;
  margin:auto;
  margin-top:12%;
  background-color:LavenderBlush;
}

#song-title {
  font-size:15px;
  font-family:DotGothic16;
  color:#ed844d;
  text-shadow:1px red;
  text-align:center;
}

#play-pause {
  margin:auto;
  display:block;
  margin-left:45%;
  cursor:pointer;
}

.progress-container {
  margin:auto;
  width:50%;
  height:70px;
}

/* style for current time of the track */
.currentTime {
  position:absolute;
    cursor: pointer;
    font-family: DotGothic16;
    font-size: 13px;
    color: coral;
    display:inline-block;
}

/* style for the total length of the track */
.durationTime {
  position:inline-block;
    float:right;
    cursor: pointer;
    font-family: DotGothic16;
    font-size: 13px;
    align-items:right;
    color: coral;
}

/* style for the progress bar */
#progress-bar {
    -webkit-appearance: none;
    appearance: none;
    z-index: 4;
    height: 5px;
    background: #fff;
    margin:auto;
    display:block;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -3px;
    margin-left: 0px;
    height: 10px;
    width: 7px;
    border: 0;
    background-color:coral;
    border-radius: 30px;
    cursor: pointer;
}

/* style for the progress bar's runnable track */
#progress-bar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    max-height: 5px;
    border-radius: 30px;
}
